.prdt-img {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 24px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.prdt-img img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    background-size: cover;
}

.prdt-btn button {
    width: 100%;
    border-radius: 24px;
    font-weight: 800;
    background-color: #0078AD;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
}

.prdt-btn button:hover {
    background-color: #0C5273;
}

.prdt-txt h4 {
    font-size: 16px;
    color: #0C5273;
    font-weight: 700;
}

.prdt-txt h3 {
    font-size: 18px;
    color: #141414;
    font-weight: 700;
}

.prdt-txt h2 {
    font-size: 24px;
    color: #FFD947;
    font-weight: 800;
}

.prdt-txt h2 span {
    font-size: 24px;
    color: #e2e2e2;
    font-weight: 800;
}

.prdt-txt h5 {
    font-size: 16px;
    color: #141414;
    font-weight: 600;
}

.prdt-txt h5 span {
    font-size: 24px;
    color: #141414;
    font-weight: 80 0;
}

.prdt-txt,
.prdt-ofr,
.prdt-dl,
.prdt-sl {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.prdt-ofr h2,
.prdt-dl h2,
.prdt-sl h2,
.prdt-inf h2 {
    font-size: 24px;
    color: #141414;
    font-weight: 800;
}

.prdt-ofr h3 {
    font-size: 14px;
    color: #141414;
    font-weight: 600;
}

.prdt-ofr h3 span {
    font-size: 24px;
    color: #00B259;
    font-weight: 800;
}

.prdt-ofr h3 p {
    font-size: 14px;
    color: #000000A6;
    font-weight: 600;
    line-height: 20px;
}

.prdt-dl h3 {
    font-size: 18px;
    color: #141414;
    font-weight: 600;
}

.prdt-dl h3 span {
    font-size: 16px;
    color: #00B259;
    font-weight: 600;
}

.prdt-inf h3 span {
    font-size: 16px;
    color: #141414;
    font-weight: 700;
}

.prdt-inf h3 {
    font-size: 16px;
    color: #000000A6;
    font-weight: 500;
    line-height: 20px;
}