.gr-btn {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 24px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.gr-btn button {
    background-color: transparent;
    border: none;
}

.gr-btn button .gr-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-size: cover;
}

.gr-btn button h4 {
    font-size: 14px;
    color: #141414;
    font-weight: 600;
    height: 30px;
    overflow: hidden;
}

.gr-btn button h3 {
    font-size: 16px;
    color: #141414;
    font-weight: 800;
}

.gr-btn button button {
    width: 45%;
    border: none;
    border-radius: 24px;
    font-weight: 800;
    color: white;
    padding: 7px 16px;
    margin: 5px;
}

.gr-btn button button:hover {
    opacity: 0.7;
}