.sd-logo {
    width: 250px;
    height: 70px;
    background-color: #0078AD;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar {
    width: 250px;
    height: 100vh;
    background-color: #0C5273;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: flex-start;
}

.sd-logo button {
    background-color: transparent;
    border: none;
}

.accordion-header button {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: transparent;
    border: none;
    padding: 14px;
    width: 100%;
    text-align: left;
    padding-left: 18px;
    border-radius: 10px;
}

.accordion-button:not(.collapsed) {
    background-color: #0078AD;
}

.accordion-body {
    padding: 15px 22px;
}

.accordion-body a {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.accordion-body a button {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    padding: 0px;
    border: none;
    background-color: transparent;
}

.active-link {
    border-bottom: 2px solid #0078AD;
}

.active-link svg {
    color: #0078AD;
}

.accordion-body a:hover,
.accordion-header button:hover {
    opacity: 0.9;
}