.cat-box {
    background-color: transparent;
    border: 1px solid #141414;
    border-radius: 24px;
    overflow: hidden;
}

.cat-box h1 {
    font-size: 24px;
    color: #141414;
    font-weight: 800;
}

.cat-box h2 {
    font-size: 18px;
    color: #141414;
    font-weight: 800;
}

.cat-box button {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    color: #0C5273;
    font-weight: 600;
    padding: 6px;
    background-color: #00000009;
}

.cat-box button:hover {
    opacity: 0.8;
}